<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appliedrec.verid.ui2">

    <uses-sdk tools:overrideLibrary="io.github.sceneview" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".VerIDSessionActivity"
            android:exported="false" />
        <activity
            android:name=".SessionActivity"
            android:theme="@style/CameraActivityTheme" />
        <activity android:name=".SessionSuccessActivity" />
        <activity android:name=".SessionResultActivity" />
        <activity android:name=".SessionFailureActivity" />
        <activity android:name=".TipsActivity" />
        <activity android:name=".PageViewActivity" />
    </application>

</manifest>